
entsorgunskalender_HTTPS_Anfrage_Arduino/Release/*
entsorgunskalender_HTTPS_Anfrage_Arduino/.vs/*
entsorgunskalender_HTTPS_Anfrage_Arduino/__vm/*
entsorgunskalender_HTTPS_Anfrage_Arduino/collection_calendar_HTTPSRequest.sln
entsorgunskalender_HTTPS_Anfrage_Arduino/collection_calendar_HTTPSRequest.vcxproj
entsorgunskalender_HTTPS_Anfrage_Arduino/collection_calendar_HTTPSRequest.vcxproj.filters
entsorgunskalender_HTTPS_Anfrage_Arduino/collection_calendar_HTTPSRequest.vcxproj.user


entsorgunskalender_HTTPS_Anfrage_Arduino/Debug/collection_calendar_HTTPSRequest.log
entsorgunskalender_HTTPS_Anfrage_Arduino/Entsorgungskalenderanzeige_Frontend.sln
.scannerwork/report-task.txt
entsorgunskalender_HTTPS_Anfrage_Arduino/.scannerwork/*
.scannerwork/*
entsorgunskalender_HTTPS_Anfrage_Arduino/entsorgunskalender_HTTPS_Anfrage_Arduino.sln
entsorgunskalender_HTTPS_Anfrage_Arduino/entsorgunskalender_HTTPS_Anfrage_Arduino.vcxproj
entsorgunskalender_HTTPS_Anfrage_Arduino/entsorgunskalender_HTTPS_Anfrage_Arduino.vcxproj.filters
entsorgunskalender_HTTPS_Anfrage_Arduino/entsorgunskalender_HTTPS_Anfrage_Arduino.vcxproj.user
